/**CSS Reset 开始**/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/**CSS Reset 结束**/

body{
	background-color: #f9f9f9;
	font-family: "Crimson Text";
}

.main{
	background: #fff;
}
.logo {
    padding-top: 100px;
    text-transform: uppercase;
    font-size: 12px;
}
.logo h4{
	padding-top: 10px;
	padding-bottom:30px;
	font-size: 20px;
	font-family: 'Josefin Sans';
}
.img-rabbit{
	width: 100%;
}
.home-description{
	font-style: italic;
	font-weight: 600;
	font-family: "Crimson";
	font-size: 19px;
    	padding-top: 15px;
    	padding-bottom: 25px;
    	line-height: 70px;
}
.btn-group-vertical  a{
	text-decoration: none;
	color:  #111;
	font-size: 20px;
}
.btn-group-vertical {
    	padding: 20px 70px;
}
.btn-group-vertical .btn{
	padding: 20px 70px;
	text-align: center;
	font-size: 14px;
	font-weight:400;
}
.btn-rabbit{
	background-color: #fff;
	color: #111;
	font-style: italic;
	border: 1px solid #111;
	border-radius: 0px !important;
	transition: all 0.4s ease-in-out;
	margin-bottom: 40px;
	font-family: "Crimson";
	font-size: 13px;
}

.btn-rabbit:hover{
	color: #fff;
	background-color: #bb9e7d;
	border-color: #bb9e7d;
}
.back {
    width: 170px;
    font-family: "Crimson";
    font-size: 17px;
    font-style: italic;
    vertical-align: middle;
    text-align: center;
    display: block;
    clear: both;
    margin-top: 70px;
}
.subtitle{
	font-style: italic;
	font-weight: 600;
	font-size: 20px;
	color: #3b3b3b;
	line-height: 28px;
	font-family: "Crimson";
	margin-top: 15px;
	margin-bottom: 20px;
	padding-right: 40px;
}
.info{
	font-family: "Crimson";
	line-height: 28px;
	font-size: 16px;
	padding-top: 15px;
	padding-right: 50px;
}








